@import "tailwindcss";

@theme {

  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(80% 0.105 251.813);
  --color-primary-content: oklch(28% 0.091 267.935);
  --color-secondary: oklch(82% 0.119 306.383);
  --color-secondary-content: oklch(29% 0.149 302.717);
  --color-accent: oklch(83% 0.128 66.29);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.25rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;

}

@layer components {
  .btn-primary {
    @apply bg-primary text-primary-content px-8 py-3.5 rounded-full font-bold shadow-md transition-all duration-300 hover:shadow-lg hover:-translate-y-0.5 text-base;
  }

  .card {
    @apply bg-base-100 rounded-[var(--radius-box)] shadow-md overflow-hidden;
  }

  .card-header {
    @apply bg-primary text-primary-content p-6 text-center;
  }

  .card-content {
    @apply p-8;
  }
}